body {
    font-family: Arial, sans-serif;
    background-color: transparent; /* Fondo transparente para toda la página */
    margin: 0;
    padding: 0;
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que ocupe todo el alto de la pantalla */
    background-color: transparent; /* Fondo transparente para la sección principal */
  }
  
  .register-box {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
  }
  
  .header-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  }
  
  .logo {
    width: 40px; /* Ajusta el tamaño del logo */
    margin-right: 10px;
  }
  
  .header {
    font-size: 24px;
    color: #333; /* Color gris oscuro para el texto */
    margin: 0;
    text-align: center; /* Centra el título */
  }
  
  .subheader {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .note {
    text-align: left;
    font-size: 14px;
    color: #777;
  }
  
  .note li {
    margin: 5px 0;
  }
  
  .message {
    margin-top: 20px;
    font-size: 16px;
    color: green;
  }
  
  /* Cambiar el color de "Restablecer Contraseña" a un tono más claro y centrarlo */
  .header-container h1 {
    background-color: transparent; /* Fondo transparente para el cuadro de 'Restablecer Contraseña' */
    padding: 10px 0;
    border: none;
    color: #555; /* Color más claro para 'Restablecer Contraseña' */
    text-align: center; /* Centra el texto */
    margin: 0;
    width: 100%; /* Asegura que el título ocupe todo el espacio disponible en su contenedor */
  }
  