body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #3f8182;
  color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.banner {
  background-image: url('./assets/bienvenid.jpg'); /* Cambia esta ruta a la imagen correcta */
  background-size: contain; /* Esto asegura que la imagen cubra todo el área del banner */
  background-position: contain; /* Esto posiciona la imagen en la parte superior */
  height: 300px; /* Puedes ajustar la altura según lo que necesites */
  position: relative;
  display: flex; /* Agregar esto para centrar el contenido verticalmente */
  justify-content: center;
  align-items: center;
}

.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.678);
  padding: 25px;
  border-radius: 10px;
}

.search-box input, .search-box select {
  width: 90%;
  padding: 10px;
  margin: 10px auto; /* Cambia a auto para centrar horizontalmente */
  display: block; /* Necesario para que margin auto funcione */
}


.search-box button {
  width: 100%;
  padding: 10px;
  background-color: #246d7db6;
  color: white;
  border: none;
  border-radius: 5px;
}

.main-content {
  text-align: center;
  padding: 50px;
}

.hotel-cards {
  display: flex;
  justify-content: space-around;
  gap: 0px;
  margin-top: 0px;
}

.hotel-card {
  background-color: rgba(255, 255, 255, 0.482);
  width: 220px;
  padding: 50px;
  border-radius: 0px;
  margin-left: 70px; 

  box-shadow: 0 5px 0px rgba(16, 16, 16, 0.1);
}

.hotel-card img {
  width: 150%;
  border-radius: 3px;
}

.hotel-card button {
  background-color: #268692;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-left: 10px; /* Añade un margen izquierdo para mover el botón hacia la derecha */
}
